# Artist Data Cleaning  
Steps followed to have a good artist data list from staging_songs

In [172]:
%load_ext sql
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
HOST              = config.get('CLUSTER','HOST')
DB_NAME           = config.get('CLUSTER','DB_NAME')
DB_USER           = config.get('CLUSTER','DB_USER')
DB_PASSWORD       = config.get('CLUSTER','DB_PASSWORD')
DB_PORT           = config.get('CLUSTER','DB_PORT')
DB_NAME           = config.get('CLUSTER','DB_NAME')

conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\josep\OneDrive\Documentos\projects\UdacityDeng\UDataEng_L03_P02_S3toRedshiftDW\S3toRedshiftDW-env\lib\site-packages\sqlalchemy\pool\base.py", line 739, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\josep\OneDrive\Documentos\projects\UdacityDeng\UDataEng_L03_P02_S3toRedshiftDW\S3toRedshiftDW-env\lib\site-packages\sqlalchemy\pool\base.py", line 988, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\josep\OneDrive\Documentos\projects\UdacityDeng\UDataEng_L03_P02_S3toRedshiftDW\S3toRedshiftDW-env\lib\site-packages\sqlalchemy\engine\default.py", line 682, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: SSL SYSCALL error: Software caused connection abort (0x00002745/10053)

'Connected: dwhuser@dwh'

## Understanding how the artist data is represented - counts

In [173]:
%%sql 
with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs  
    )
select count(1) as artists_count,
count(distinct artist_name) as artist_name_count,
count(distinct artist_id) as artist_id_count
from artists

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(44317, 42061, 30542)]

## There are more Names than IDs 
There must be different names to the same artist entity

In [9]:
%%sql 
select distinct 
a.artist_id,
a.artist_name,
b.artist_name,
b.artist_id
from staging_songs a, staging_songs b
where 
    a.artist_id = b.artist_id
    and a.artist_name <> b.artist_name
order by a.title
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARYYD9K1187FB44C76', 'Savoy-Doucet Cajun Band', '[re:jazz]', 'ARYYD9K1187FB44C76'),
 ('ARFBNNS12454A4CE80', 'Silvestre Dangond & Juancho de La Espriella', 'Silvestre Dangond & Juancho de La Espriella;Juancho De La Espriella', 'ARFBNNS12454A4CE80'),
 ('AR50MHJ1187FB3D015', 'Lovemakers', 'The Lovemakers', 'AR50MHJ1187FB3D015'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / Anthony Hamilton', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / St. Lunatics', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / Avery Storm', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / Avery Storm / Mase', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / Cedric The Entertainer', 'ARCBD0U1187FB466EF'),
 ('ARCBD0U1187FB466EF', 'Nelly / Clipse / Postaboy', 'Nelly / Pharrell Williams', 'ARCBD0U1187FB466EF')]

## How many Multiple Names per ID do we have

In [16]:
%%sql 
with artists_multiple_names as (
    with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs 
    )
    select 
        artist_id,
        count(1) as artist_name_count
    from artists
    group by artist_id
    having count(1) > 1
)
select 
count(1) as artist_id_count,
sum(artist_name_count) as artist_name_count
from artists_multiple_names

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6699, 20474)]

## And we also have multiple IDs per name

In [19]:
%%sql 
select distinct 
a.artist_name,
a.artist_id,
b.artist_id
from staging_songs a, staging_songs b
where 
    a.artist_id > b.artist_id
    and a.artist_name = b.artist_name

and a.artist_name = 'Bill & Gloria Gaither'
order by a.artist_name
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Bill & Gloria Gaither', 'ARMM25Z1187FB5A8C1', 'ARKC83D1187B9AB367'),
 ('Bill & Gloria Gaither', 'ARMM25Z1187FB5A8C1', 'ARDFZE61187FB45994'),
 ('Bill & Gloria Gaither', 'ARMM25Z1187FB5A8C1', 'ARK6JC91187B9B4B2D'),
 ('Bill & Gloria Gaither', 'ARMM25Z1187FB5A8C1', 'ARDW74M1187B98DA34'),
 ('Bill & Gloria Gaither', 'ARDW74M1187B98DA34', 'ARBB58Y1187B9B621B'),
 ('Bill & Gloria Gaither', 'ARDW74M1187B98DA34', 'ARDFZE61187FB45994'),
 ('Bill & Gloria Gaither', 'ARK6JC91187B9B4B2D', 'ARBB58Y1187B9B621B'),
 ('Bill & Gloria Gaither', 'ARK6JC91187B9B4B2D', 'ARDFZE61187FB45994'),
 ('Bill & Gloria Gaither', 'ARK6JC91187B9B4B2D', 'ARDW74M1187B98DA34'),
 ('Bill & Gloria Gaither', 'ARMM25Z1187FB5A8C1', 'ARBB58Y1187B9B621B')]

## How many Multiple IDs per Name do we have

In [52]:
%%sql 
with artists_multiple_ids as (
    with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs 
    )
    select 
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) > 1
)
select 
/*
count(1) as artist_name_count,
sum(artist_id_count) as artist_id_count*/
artist_name, artist_id_count
from artists_multiple_ids
order by artist_id_count desc 
limit 15

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
15 rows affected.

[('Bill & Gloria Gaither', 7),
 ('Original Broadway Cast', 6),
 ('Karaoke', 6),
 ('Ja-Man All Stars', 5),
 ('Marc Et Claude', 5),
 ('King Tubby', 5),
 ('Charttraxx Karaoke', 5),
 ('Magnatune Compilation', 5),
 ('La Cabra Mecanica', 5),
 ('Grandmaster Flash & The Furious Five', 4),
 ('Gaither Vocal Band', 4),
 ('Simon Harris', 4),
 ('Ennio Morricone', 4),
 ('Ella Fitzgerald', 4),
 ("Klaus Doldinger's Passport", 4)]

## Let's see how many artists there are that have a single name / id reference

In [26]:
%%sql 
with artists_id_single_name as (
    with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs 
    )
    select 
        artist_id        
    from artists
    group by artist_id
    having count(1) = 1
)
select 
count (1)
from artists_id_single_name

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(23843,)]

In [33]:
%%sql 
with artists_name_single_id as (
    with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs 
    )
    select 
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) = 1
)
select 
count(1)
from artists_name_single_id

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(40028,)]

## ID vs Name
Even when artists_id looks like an obvious unique identifier
In the end, streaming events reference songs and artists by song_titles and artist_names respectively

## Multiple Name per Id where no Multiple Id per Name

In [52]:
%%sql 
with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_songs 
    ),
artists_multiple_names as (    
    select 
        artist_id,
        count(1) as artist_name_count
    from artists
    group by artist_id
    having count(1) > 1
),
artists_multiple_ids as (
    select 
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) > 1
)
select count(1)
from artists a
where not exists (select 1 from artists_multiple_names b where b.artist_id = a.artist_id) 
and not exists (select 1 from artists_multiple_ids c where c.artist_name = a.artist_name) 

limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(22265,)]

In [53]:
%%sql 
with artists as (
        select distinct 
        artist_id,
        artist_name,
        latitude,
        longitude,
        location
        from staging_songs 
    ),
artists_multiple_names as (    
    select 
        artist_id,
        count(1) as artist_name_count
    from artists
    group by artist_id
    having count(1) > 1
),
artists_multiple_ids as (
    select 
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) > 1
)
select *
from (
    select 
    a.artist_id,
    a.artist_name,
    case when exists (select 1 from artists_multiple_names b where b.artist_id = a.artist_id) then 1 else 0 end  as multiple_name_indicator,
    case when exists (select 1 from artists_multiple_ids c where c.artist_name = a.artist_name) then 1 else 0 end as multiple_id_indicator
    from artists a
)
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedColumn) column "latitude" does not exist in staging_songs

[SQL: with artists as (
        select distinct
        artist_id,
        artist_name,
        latitude,
        longitude,
        location
        from staging_songs
    ),
artists_multiple_names as (
    select
        artist_id,
        count(1) as artist_name_count
    from artists
    group by artist_id
    having count(1) > 1
),
artists_multiple_ids as (
    select
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) > 1
)
select *
from (
    select
    a.artist_id,
    a.artist_name,
    case when exists (select 1 from artists_multiple_names b where b.artist_id = a.artist_id) then 1 else 0 end  as multiple_name_indicator,
    case when exists (select 1 from artists_multiple_ids c where c.artist_name = a.artist_name) then 1 else 0 end as multiple_id_indicator
    from artists a
)
limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Multiple Artists IDs over a single name with different GeoLocation attributes

![image](https://user-images.githubusercontent.com/11904085/167835198-810f0c6f-6478-4e28-a579-64f4e036fd45.png)

In [16]:
%%sql 

with artist_dup_id as (
    select artist_name
    from staging_songs
    where trim(artist_location) <> ''
    group by artist_name
    having count(distinct artist_id) > 1
) 
select distinct
artist_id,
artist_name,
artist_latitude,
artist_longitude,
artist_location
from staging_songs b
where -- exists (select 1 from artist_dup_id a where a.artist_name = b.artist_name )
b.artist_name in ('Ambelique','American Dog', 'An Albatross')
order by artist_name
limit 50

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
6 rows affected.

[('AREUIRT11F4C8408E6', 'Ambelique', '52.505240000000001', '-1.81531', 'UK - England - West Midlands'),
 ('ARSMFGP1187B99BC2B', 'Ambelique', '40.714550000000003', '-74.00712', 'NY - New York City'),
 ('ARJ8CEE1187FB44944', 'American Dog', '40.190330000000003', '-82.669470000000004', 'Ohio'),
 ('ARFULGF1187FB5690C', 'American Dog', '42.312559999999998', '-71.088679999999997', 'Boston, MA'),
 ('ARY2G671187B98F4A0', 'An Albatross', '41.884149999999998', '-87.632409999999993', 'Chicago, IL'),
 ('AR70VWQ1187FB4D009', 'An Albatross', '41.229489999999998', '-75.871300000000005', 'Wilkes-Barre, PA')]

# So, artist as staging records

![image](https://user-images.githubusercontent.com/11904085/167831693-087bf502-0b37-4031-8021-91319789084a.png)

* Can have multiple names over a single ID 
* Can have multiple IDs over a single name 
* I will not determine which artist ID is better when having multiple ones over a single name
* May or may not have values over latitude, longitude and location. GeoLoc attributes
* A GeoLoc attribute is valid if
    * latitude is numeric
    * longitude is numeric
    * location is non-empty
* I will not go into the detail of determining one valid GeoLoc attribute is better than another one.
    * e.g:     
    ![image](https://user-images.githubusercontent.com/11904085/167835198-810f0c6f-6478-4e28-a579-64f4e036fd45.png)

* Streaming events reference artist by artist name. So, artist name is the actual natural primary key

# So Dimension table will be ARTIST_NAME
As each row represents a name an artist might have, and it is how songplays reference to it.

* Name: Primary Key
* ID: It is a grouping attribute that indicates a single arbitrary ID for an artist that might be named differently accross the songs and streams data sets
* Latitude, Longitude: are GeoLocation attributes picked by an selecting a pair where both of them are valid coordinates
* Location: is a GeoLocation attribut picked by an selecting the min dictionary value of non empty values

##  To process song records into ARTIST_NAME dimenstion
- Work with artist_id and artist_name only to
    - Remove duplicate name / id pairs
    - Identify multiple name per id
    - Identify multiple ID per name and determine ONE new Recalculated ID, which will be the new Grouping Key 
    - Identify multiple ID and multiple name:  determine ONE new Recalculated ID by name, which will be the new Grouping Key 
    
![image](https://user-images.githubusercontent.com/11904085/168094814-9ec453db-19ea-4e4b-b888-a51aa7402167.png)

## Create Staging Artist Row table
Represents a row from the songs dataset representing an artist

In [174]:
%%sql 

DROP TABLE IF EXISTS staging_artist_row;
CREATE TABLE staging_artist_row 
(   
  artist_id varchar,
  artist_name varchar(1000),
  artist_latitude decimal(10,8),
  artist_latitude_score int,
  artist_longitude decimal(11,8),
  artist_longitude_score int,
  artist_lat_long_score int,
  artist_location  varchar(1000),
  artist_location_score int
);

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

## Create Staging Artist ID/ Names 
Represents an ID / Name combination

In [175]:
%%sql 

DROP TABLE IF EXISTS staging_artist_id_name;
CREATE TABLE staging_artist_id_name 
(   
  artist_id varchar,
  artist_name varchar(1000),
  multiple_name_indicator int,
  multiple_id_indicator int  
);

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

## Create Staging Artist Names 
Working table that will become Artist Name dimension

In [176]:
%%sql 

DROP TABLE IF EXISTS staging_artist_names;
CREATE TABLE staging_artist_names 
(   
  original_artist_id varchar,
  artist_name varchar(1000),
  recalculated_artist_id varchar,
  artist_latitude decimal(10,8),  
  artist_longitude decimal(11,8),
  artist_location  varchar(1000),
  multiple_name_indicator int,
  multiple_id_indicator int,
  step int
);

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

## Load Staging Artist Row
And calculate Geo Loc scores

In [178]:
%%sql

insert into staging_artist_row (
    artist_id, 
    artist_name, 
    artist_latitude,
    artist_latitude_score,
    artist_longitude, 
    artist_longitude_score,
    artist_lat_long_score,
    artist_location,
    artist_location_score
)
select distinct
artist_id,
artist_name as name,
artist_latitude::decimal(10,8) as artist_latitude,
case when artist_latitude ~ '^(([-+]?[0-9]+(\.[0-9]+)?)|([-+]?\.[0-9]+))$' then 1 else 0 end as artist_latitude_score,
artist_longitude::decimal(11,8) as artist_longitude,
case when artist_longitude ~ '^(([-+]?[0-9]+(\.[0-9]+)?)|([-+]?\.[0-9]+))$' then 1 else 0 end as artist_longitude_score,
artist_latitude_score + artist_longitude_score as artist_lat_long_score, 
artist_location as artist_location,
case when not trim(artist_location) = '' then 1 else 0 end as artist_location_score
from staging_songs

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
45266 rows affected.
45266 rows affected.

[]

## Load Staging Artist ID Name

In [179]:
%%sql

insert into staging_artist_id_name 
( artist_id, artist_name, multiple_name_indicator, multiple_id_indicator)
with artists as (
        select distinct 
        artist_id,
        artist_name
        from staging_artist_row 
    ),
artists_multiple_names as (    
    select 
        artist_id,
        count(1) as artist_name_count
    from artists
    group by artist_id
    having count(1) > 1
),
artists_multiple_ids as (
    select 
        artist_name,
        count(1) as artist_id_count
    from artists
    group by artist_name
    having count(1) > 1
)
select 
a.artist_id,
a.artist_name,
case when exists (select 1 from artists_multiple_names b where b.artist_id = a.artist_id) then 1 else 0 end  as multiple_name_indicator,
case when exists (select 1 from artists_multiple_ids c where c.artist_name = a.artist_name) then 1 else 0 end as multiple_id_indicator
from artists a

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
44317 rows affected.

[]

## Example of multiple ID and multiple name

In [73]:
%%sql
select *
from staging_artist_id_name
where 1=1
 and (artist_id in ('ARGJVKV1187B9ACBF1', 'ARLHLXZ11E2835E51D')
or artist_name = '1000names')  
order by artist_name
limit 100

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[('ARLHLXZ11E2835E51D', '1000 Names', 1, 0),
 ('ARGJVKV1187B9ACBF1', '1000names', 1, 1),
 ('ARLHLXZ11E2835E51D', '1000names', 1, 1),
 ('ARGJVKV1187B9ACBF1', 'Grace Jones', 1, 0)]

In [76]:
%%sql
select *
from staging_artist_id_name
where 1=1
-- and multiple_name_indicator = 1
-- and  multiple_id_indicator = 1
and (artist_id in ('ARDBN3H1187FB4F49F', 'ARAWNNA1241B9C726F')
 or artist_name = '(hed) p.e.')
order by artist_name
limit 100

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARAWNNA1241B9C726F', '(hed) p.e.', 0, 1),
 ('ARDBN3H1187FB4F49F', '(hed) p.e.', 1, 1),
 ('ARDBN3H1187FB4F49F', 'Dirtball', 1, 0),
 ('ARDBN3H1187FB4F49F', 'The Dirtball', 1, 0),
 ('ARDBN3H1187FB4F49F', 'The Dirtball_ Big B', 1, 0)]

In [78]:
%%sql
select *
from staging_artist_row 
where 1=1
and (artist_id in ('ARDBN3H1187FB4F49F', 'ARAWNNA1241B9C726F','ARGJVKV1187B9ACBF1', 'ARLHLXZ11E2835E51D')
 or artist_name in ( '(hed) p.e.', '1000names'))

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
9 rows affected.

[('ARDBN3H1187FB4F49F', 'The Dirtball', None, None, ''),
 ('ARLHLXZ11E2835E51D', '1000names', None, None, ''),
 ('ARGJVKV1187B9ACBF1', '1000names', None, None, 'Kingston, Jamaica'),
 ('ARGJVKV1187B9ACBF1', 'Grace Jones', None, None, 'Kingston, Jamaica'),
 ('ARLHLXZ11E2835E51D', '1000 Names', None, None, ''),
 ('ARDBN3H1187FB4F49F', 'Dirtball', None, None, ''),
 ('ARDBN3H1187FB4F49F', '(hed) p.e.', None, None, ''),
 ('ARAWNNA1241B9C726F', '(hed) p.e.', None, None, ''),
 ('ARDBN3H1187FB4F49F', 'The Dirtball_ Big B', None, None, '')]

In [90]:
%%sql
select *
from staging_artist_row 
where 1=1
and (artist_id in ('ARI4S0E1187B9B06C0','AROFSJE1187B9BA48A')
  or artist_name in ( 'Atahualpa Yupanqui	')
 )
limit 30

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARI4S0E1187B9B06C0', 'David Arkenstone', Decimal('35'), Decimal('-85'), 'Tennessee'),
 ('AROFSJE1187B9BA48A', 'Atahualpa Yupanqui_ Atahualpa Yupanqui', Decimal('-37'), Decimal('-63'), 'Argentina'),
 ('ARI4S0E1187B9B06C0', 'Atahualpa Yupanqui', Decimal('35'), Decimal('-85'), 'Tennessee'),
 ('AROFSJE1187B9BA48A', 'Atahualpa Yupanqui_ Angel Parra', Decimal('-37'), Decimal('-63'), 'Argentina'),
 ('AROFSJE1187B9BA48A', 'Atahualpa Yupanqui', Decimal('-37'), Decimal('-63'), 'Argentina')]

In [91]:
%%sql 
select *
from staging_artist_row 
where exists (select 1 from staging_artist_id_name where multiple_id_indicator = 1)
and artist_latitude is not null
order by artist_name 
limit 10 offset 900

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARVRK5Q1187B99004E', 'Asphyx', Decimal('52'), Decimal('5'), 'Holland'),
 ('ARRWGLQ1187FB4CCEE', 'Ass Ponys', Decimal('39'), Decimal('-84'), 'Cincinnati, OH'),
 ('ARS755J1187B9920C6', 'Assassin', Decimal('37'), Decimal('-119'), 'California'),
 ('AR8YYNB1187B9A4BB3', 'Assemblage 23', Decimal('21'), Decimal('82'), 'India'),
 ('AR8KJG41187B9AF8EC', 'Assembly of Dust', Decimal('40'), Decimal('-74'), 'New York, NY'),
 ('ARUFW0I1187B991B0F', 'Assorted Jelly Beans', Decimal('37'), Decimal('-119'), 'California'),
 ('ARF3L8J1187B9B7866', 'Astarte', Decimal('37'), Decimal('23'), 'Athens, Greece'),
 ('ARNCNV91187FB4D552', 'Astral Projection', Decimal('31'), Decimal('35'), 'Israel'),
 ('ARNCNV91187FB4D552', 'Astral Projection ( sfx )', Decimal('31'), Decimal('35'), 'Israel'),
 ('ARNCNV91187FB4D552', 'Astral Projection (Aban Don)', Decimal('31'), Decimal('35'), 'Israel')]

## Loading Staging Artist Names - 01
Rows were artist names and artist IDs are unique

Lookup to staging_artist_row by ID and name, to find location values, apply find-best in case there are several

In [180]:
%%sql 
insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
select distinct
    a.artist_id,
    a.artist_name,
    a.artist_id as recalculated_artist_id,
    first_value(ar.artist_latitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_latitude,
    first_value(ar.artist_longitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_longitude,
    first_value(ar.artist_location) over (
        partition by a.artist_id, a.artist_name order by ar.artist_location_score desc
        rows unbounded preceding
    ) as artist_location,
    a.multiple_name_indicator,
    a.multiple_id_indicator,
    1 as step
from staging_artist_id_name a 
left join staging_artist_row ar on 
    a.artist_id = ar.artist_id 
    and a.artist_name = ar.artist_name
where a.multiple_id_indicator = 0 
and a.multiple_name_indicator = 0

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
22265 rows affected.

[]

In [93]:
%%sql

select (select count(1) from staging_artist_id_name), (select count(1) from staging_artist_names)


-- delete from staging_artist_names
-- delete from staging_artist_id_name;

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(44317, 41606)]

## Loading Staging Artist Names - 02
Rows where a single artist ID holds multiple artist names

![image](https://user-images.githubusercontent.com/11904085/168038466-500c87a6-0044-48d8-af82-d1a985ea6e85.png)

When trying to add to the curated staging_artist_names table, I'll lookup by artist_name trying to find an ID
I don't expect to find any existing ID

Lookup to staging_artist_row by ID and name, to find location values, apply find-best in case there are several

In [181]:
%%sql

insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
select
    distinct
    a.artist_id,
    a.artist_name,    
    coalesce(
        first_value(an.recalculated_artist_id) over (
            partition by a.artist_id, a.artist_name 
            order by an.recalculated_artist_id desc nulls last 
            rows unbounded preceding
        )
        , a.artist_id
    ) as recalculated_artist_id,
    first_value(ar.artist_latitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_latitude,    
    first_value(ar.artist_longitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as new_artist_longitude,    
    first_value(ar.artist_location) over (
        partition by a.artist_id, a.artist_name order by ar.artist_location_score desc
        rows unbounded preceding
    ) as artist_location,
    a.multiple_name_indicator,
    a.multiple_id_indicator,
    2 as step
from staging_artist_id_name a 
left join staging_artist_row ar on
    a.artist_id = ar.artist_id 
    and a.artist_name = ar.artist_name
left join staging_artist_names an on
    a.artist_name = an.artist_name
where 1=1
and  a.multiple_id_indicator = 0
and a.multiple_name_indicator = 1  
order by a.artist_id

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
17763 rows affected.

[]

## Loading Staging Artist Names - 03
Rows where a single artist NAME is under multiple artist IDs

![image](https://user-images.githubusercontent.com/11904085/168045850-d94de563-81ad-474c-8874-ab2d931eeb1b.png)


When trying to add to the curated staging_artist_names table, I'll lookup by artist_name trying to find an ID
I don't expect to find any existing ID

Lookup to staging_artist_row by ID and name, to find location values, apply find-best in case there are several

In [182]:
%%sql 

insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
select
    distinct
    a.artist_id,
    a.artist_name,
    coalesce(
        first_value(an.recalculated_artist_id) over (
            partition by a.artist_id, a.artist_name 
            order by an.recalculated_artist_id desc nulls last 
            rows unbounded preceding
        )
        , a.artist_id
    ) as recalculated_artist_id,
    first_value(ar.artist_latitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_latitude,    
    first_value(ar.artist_longitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as new_artist_longitude,    
    first_value(ar.artist_location) over (
        partition by a.artist_id, a.artist_name order by ar.artist_location_score desc
        rows unbounded preceding
    ) as artist_location,
    a.multiple_name_indicator,
    a.multiple_id_indicator,
    3 as step
from staging_artist_id_name a 
left join staging_artist_row ar on
    a.artist_id = ar.artist_id 
    and a.artist_name = ar.artist_name
left join staging_artist_names an on
    a.artist_name = an.artist_name
where 1=1
and  a.multiple_id_indicator = 1
and a.multiple_name_indicator = 0

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1578 rows affected.

[]

## Loading Staging Artist Names - 04
Rows where there are multiple artist NAME is and multiple artist IDs

![image](https://user-images.githubusercontent.com/11904085/168060417-61143166-021f-4649-8a0a-eb9060bb56ef.png)

When trying to add to the curated staging_artist_names table, I'll lookup by artist_name trying to find an ID
I don't expect to find any existing ID

Lookup to staging_artist_row by ID and name, to find location values, apply find-best in case there are several

In [183]:
%%sql

insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
select
    distinct
    a.artist_id,
    a.artist_name,
    coalesce(
        first_value(an.recalculated_artist_id) over (
            partition by a.artist_id, a.artist_name 
            order by an.recalculated_artist_id desc nulls last 
            rows unbounded preceding
        )
        , a.artist_id
    ) as recalculated_artist_id,
    first_value(ar.artist_latitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_latitude,    
    first_value(ar.artist_longitude) over (
        partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
        rows unbounded preceding
    ) as new_artist_longitude,    
    first_value(ar.artist_location) over (
        partition by a.artist_id, a.artist_name order by ar.artist_location_score desc
        rows unbounded preceding
    ) as artist_location,
    a.multiple_name_indicator,
    a.multiple_id_indicator,
    4 as step
from staging_artist_id_name a 
left join staging_artist_row ar on
    a.artist_id = ar.artist_id 
    and a.artist_name = ar.artist_name
left join staging_artist_names an on
    a.artist_name = an.artist_name
where 1=1
and  a.multiple_id_indicator = 1
and a.multiple_name_indicator = 1

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
2711 rows affected.

[]

## Loading Staging Artist Names - 05
Enforce single id per name. 
Group same names on a single ID

In [184]:
%%sql

insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
select    
    an.original_artist_id,
    an.artist_name,    
    first_value(an.recalculated_artist_id) over (
        partition by an.artist_name 
        order by an.recalculated_artist_id desc nulls last 
        rows unbounded preceding
    ) as recalculated_artist_id,
    an.artist_latitude,    
    an.artist_longitude,    
    an.artist_location,
    cast( null as int) as multiple_name_indicator,
    cast( null as int) as multiple_id_indicator,
    5 as step
from staging_artist_names an 
where step in (1,2,3,4)

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
44317 rows affected.

[]

## Loading Staging Artist Names - 06
Calculate best Geo Loc based on ID

In [185]:
%%sql
insert into staging_artist_names (
    original_artist_id,
    artist_name,
    recalculated_artist_id,
    artist_latitude,  
    artist_longitude,
    artist_location,
    multiple_name_indicator,
    multiple_id_indicator,
    step
)
with staging_artist_names_5 as (
    select
    an.original_artist_id,
    an.artist_name,
    an.recalculated_artist_id,
    an.artist_latitude,
    case when an.artist_latitude is not null then 1 else 0 end as artist_latitude_score,
    an.artist_longitude,    
    case when an.artist_longitude is not null then 1 else 0 end as artist_longitude_score,
    artist_latitude_score + artist_longitude_score as artist_lat_long_score,
    an.artist_location,
    case when not trim(an.artist_location) = '' then 1 else 0 end as artist_location_score,
    an.multiple_name_indicator,
    an.multiple_id_indicator
    from staging_artist_names an
    where step = 5
)
select    
    an5.original_artist_id,
    an5.artist_name,
    an5.recalculated_artist_id,
    first_value(an5.artist_latitude) over (
        partition by an5.recalculated_artist_id order by an5.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_latitude,    
    first_value(an5.artist_longitude) over (
        partition by an5.recalculated_artist_id order by an5.artist_lat_long_score desc
        rows unbounded preceding
    ) as artist_longitude,    
    first_value(an5.artist_location) over (
        partition by an5.recalculated_artist_id order by an5.artist_location_score desc
        rows unbounded preceding
    ) as artist_location,
    an5.multiple_name_indicator,
    an5.multiple_id_indicator,
    6 as step
from staging_artist_names_5 an5

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
44317 rows affected.

[]

## Check Queries

In [118]:
%%sql

select *
from (
    select
        distinct
        a.artist_id,
        a.artist_name,    
        an.original_artist_id,      
        an.recalculated_artist_id,
        ar.artist_id as row_artist_id,    
    
        first_value(an.recalculated_artist_id) over (
            partition by a.artist_id, a.artist_name 
            order by an.recalculated_artist_id desc nulls last 
            rows unbounded preceding
        ) as recalculated_artist_id,    
        ar.artist_latitude as original_artist_latitude,
        first_value(ar.artist_latitude) over (
            partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
            rows unbounded preceding
        ) as artist_latitude,
        ar.artist_longitude as original_artist_longitude,
        first_value(ar.artist_longitude) over (
            partition by a.artist_id, a.artist_name order by ar.artist_lat_long_score desc
            rows unbounded preceding
        ) as new_artist_longitude,
       ar.artist_location as original_artist_location,
        first_value(ar.artist_location) over (
            partition by a.artist_id, a.artist_name order by ar.artist_location_score desc
            rows unbounded preceding
        ) as artist_location,
    
        a.multiple_id_indicator,
        a.multiple_name_indicator
    from staging_artist_id_name a 
    left join staging_artist_row ar on
        a.artist_id = ar.artist_id 
        and a.artist_name = ar.artist_name
    left join staging_artist_names an on        
            a.artist_name = an.artist_name
    where 1=1    
  --  and  a.multiple_id_indicator = 1
--    and a.multiple_name_indicator = 1

)
where 1=1
-- and original_artist_location <> artist_location
and ( artist_id = 'AR00AP71187B99635F' or artist_name = 'Miles Davis Quintet')
/*
and ( 
     artist_id = 'AR08WH81187FB4308C' or 
    artist_name = 'Merle Haggard And The Strangers')
    

and (
     artist_id in ('AR00L9V1187FB4353A', 'AROL78E1187B9B98A1')  or 
    artist_name = 'Stellar Kart')
  */  
order by artist_id
limit 6

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
6 rows affected.

[('AR00AP71187B99635F', 'Miles Davis Quintet', None, None, 'AR00AP71187B99635F', None, None, None, None, None, 'Alton, IL', 'Alton, IL', 1, 1),
 ('AR00AP71187B99635F', 'Miles Davis All Stars', 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', None, None, None, None, '', 'Alton, IL', 0, 1),
 ('AR00AP71187B99635F', "Miles Davis' All Stars", 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', None, None, None, None, '', '', 0, 1),
 ('AR00AP71187B99635F', 'Miles Davis All Stars', 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', 'AR00AP71187B99635F', None, None, None, None, 'Alton, IL', 'Alton, IL', 0, 1),
 ('AR00AP71187B99635F', 'Miles Davis', None, None, 'AR00AP71187B99635F', None, None, None, None, None, 'Alton, IL', 'Alton, IL', 1, 1),
 ('AR5DF1C1187FB4E94C', 'Miles Davis Quintet', None, None, 'AR5DF1C1187FB4E94C', None, None, None, None, None, 'Alton, IL', 'RANCHO CUCAMONGA, California', 1, 1)]

In [121]:
%%sql 

select count(1) from
staging_artist_names
where recalculated_artist_id is null
limit 200

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

Hunt for duplicates and see IDs

In [136]:
%%sql 
select * 
from staging_artist_names 
where 1=1 
and original_artist_id in(
'AR1XUYS1187B9A44D7',
'ARF2SVO1187FB53E8F',
'ARFMT4W1187FB42FA8'
)
/*and artist_name in (
        select 
        artist_name
        from staging_artist_names
        group by artist_name
        having count(distinct recalculated_artist_id ) > 1 
)*/
order by artist_name
limit 100

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
11 rows affected.

[('AR1XUYS1187B9A44D7', 'Alison Krauss', 'AR1XUYS1187B9A44D7', None, None, '', 1, 1, 4),
 ('ARF2SVO1187FB53E8F', 'Alison Krauss', 'ARF2SVO1187FB53E8F', None, None, '', 1, 1, 4),
 ('ARFMT4W1187FB42FA8', 'Alison Krauss', 'ARFMT4W1187FB42FA8', None, None, 'Decatur, IL', 1, 1, 4),
 ('ARF2SVO1187FB53E8F', 'Alison Krauss & Union Station', 'ARF2SVO1187FB53E8F', None, None, '', 1, 0, 2),
 ('ARFMT4W1187FB42FA8', 'Alison Krauss / Sting', 'ARFMT4W1187FB42FA8', None, None, 'Decatur, IL', 1, 0, 2),
 ('ARFMT4W1187FB42FA8', 'Alison Krauss / Union Station', 'ARFMT4W1187FB42FA8', None, None, 'Decatur, IL', 1, 1, 4),
 ('ARF2SVO1187FB53E8F', 'Alison Krauss / Union Station', 'ARF2SVO1187FB53E8F', None, None, 'Decatur, IL', 1, 1, 4),
 ('ARFMT4W1187FB42FA8', 'Alison Krauss and Union Station', 'ARFMT4W1187FB42FA8', None, None, 'Decatur, IL', 1, 0, 2),
 ('ARFMT4W1187FB42FA8', 'Alison Krauss;Yo-Yo Ma', 'ARFMT4W1187FB42FA8', None, None, 'Decatur, IL', 1, 0, 2),
 ('AR1XUYS1187B9A44D7', 'Natalie MacMaster', 'AR1XUYS1187B9A44D7', None, None, '', 1, 0, 2),
 ('AR1XUYS1187B9A44D7', 'Natalie MacMaster;Dave MacIsaac;Paddy Moloney;Martin Fay;Sen Keane;Matt Molloy;Derek Bell;Kevin Conneff', 'AR1XUYS1187B9A44D7', None, None, '', 1, 0, 2)]

In [ ]:
%%sql
select * 
from staging_artist_names 
where recalculated_artist_id in (
    select recalculated_artist_id
    from staging_artist_names
    where recalculated_artist_id in (
        select 
        recalculated_artist_id
        from staging_artist_names
        group by recalculated_artist_id
        having count(1) > 1 
    )
    and recalculated_artist_id <> original_artist_id
)
order by artist_name
limit 200

In [166]:
%%sql 
select  count (1)
from  (
        select 
        artist_name
        from staging_artist_names
        where step = 6
        group by artist_name
        having count(distinct recalculated_artist_id ) > 1 
)
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

## Insert to Dimension Artist Names

In [186]:
%%sql

drop table if exists artist_names;
create table if not exists artist_names
(
    name varchar(1000) not null primary key sortkey,
    artist_id varchar not null,        
    latitude decimal(10,8) null,
    longitude decimal(11,8) null,
    location varchar(1000) null
) diststyle ALL;

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [187]:
%%sql
insert into artist_names (
    name,
    artist_id,
    latitude,  
    longitude,
    location
)
select distinct
an.artist_name,
an.recalculated_artist_id,
an.artist_latitude,
an.artist_longitude,    
an.artist_location    
from staging_artist_names an
where step = 6

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
42061 rows affected.

[]