# ETL Draft
This notebook is to scrap / test code towards the actual ETL

In [2]:
import boto3
import configparser
import matplotlib.pyplot as plt
import pandas as pd
from time import time
import json
%load_ext sql

## Read Configs

In [3]:
config = configparser.ConfigParser()
config.read_file(open('aws.cfg'))
KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
HOST              = config.get('CLUSTER','HOST')
DB_NAME           = config.get('CLUSTER','DB_NAME')
DB_USER           = config.get('CLUSTER','DB_USER')
DB_PASSWORD       = config.get('CLUSTER','DB_PASSWORD')
DB_PORT           = config.get('CLUSTER','DB_PORT')

IAM_ROLE        = config.get('IAM_ROLE','ARN')

LOG_DATA        = config.get('S3','LOG_DATA')
LOG_JSONPATH     = config.get('S3','LOG_JSONPATH')
SONG_DATA        = config.get('S3','SONG_DATA')
BUCKET_REGION    = config.get('S3','BUCKET_REGION')

## CHeck S3 contents

In [3]:
s3 = boto3.resource('s3',
                       region_name= BUCKET_REGION,
                       aws_access_key_id= KEY,
                       aws_secret_access_key= SECRET
                   )

bucket = s3.Bucket('udacity-dend')

### For testing purposes I'm only using A/A/A
If I upload the entire song dataset, it takes 100 minutes

In [7]:
count = 0
for obj in bucket.objects.filter(Prefix="song-data/A/A"):
#for obj in bucket.objects.filter(Prefix="log-data/2018/11/2018-11-01-events.json"):
    key = obj.key    
    count += 1
    # print(key)

print (count)

604

In [ ]:

#for obj in bucket.objects.all():
#for obj in bucket.objects.filter(Prefix="log_json_path.json"):
for obj in bucket.objects.filter(Prefix="song-data/A/A/A/TRAAAAK128F9318786.json"):
#for obj in bucket.objects.filter(Prefix="log-data/2018/11/2018-11-01-events.json"):
    key = obj.key    
    body = obj.get()['Body'].read() 
    print(body)

## Check number of files / entities
- Number of song files should match staging_songs.count
- NUmber of log entities?? should match staging_events.count

### Count Song Data Files

In [12]:
count = 0 
for i in bucket.objects.filter(Prefix="song-data/"):
  count += 1

#list(map(lambda i: count = count + 1, bucket.objects.filter(Prefix="song-data/")))

#c = collections Counter()

print(count)

385253

In [37]:
count = 0
#for obj in bucket.objects.filter(Prefix="log-data/2018/11/2018-11-01-events.json"):
for obj in bucket.objects.filter(Prefix="log-data/"):
  text = obj.get()['Body'].read().decode('utf-8')  
  df = pd.read_json(text, lines=True)
  count += len(df.index)  
  
print(count)

8056

## Connect to Redshift cluster

In [6]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Create Staging Tables

In [18]:
%%sql 


DROP TABLE IF EXISTS staging_events;
CREATE TABLE staging_events 
(
  artist varchar(1000),
  auth varchar,
  firstName varchar,
  gender varchar,
  itemInSession varchar,
  lastName varchar,
  length varchar,
  level varchar,
  location varchar,
  method varchar,
  page varchar,
  registration varchar,
  sessionId varchar,
  song varchar(1000),
  status varchar,
  ts varchar,
  userAgent varchar,
  userId varchar
);

DROP TABLE IF EXISTS staging_songs;
CREATE TABLE staging_songs 
(
  song_id varchar,
  num_songs varchar,
  title varchar(1000), 
  name varchar(1000),
  latitude varchar,
  year varchar,
  duration varchar,
  artist_id varchar,
  artist_longitude varchar,
  artist_location  varchar(1000)
);

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
Done.
Done.

[]

## Creating DataWarehouse tables

In [44]:
%%sql 

drop table if exists users;
create table if not exists users
(
    user_id int not null primary key sortkey,
    first_name varchar not null,
    last_name varchar not null,
    gender varchar not null,
    level varchar not null
) diststyle ALL;

drop table if exists time;
create table if not exists time
(
  start_time timestamp without time zone not null primary key sortkey,
  hour int not null,
  day int not null,
  week int not null,
  month int not null,
  year int not null,
  day_of_week int not null,
  day_of_week_name varchar not null,
  is_weekend bool not null
) diststyle ALL;

drop table if exists songplays;
create table if not exists songplays
(
    songplay_id int IDENTITY(0,1) primary key,
    start_time timestamp without time zone not null sortkey,
    user_id int not null,
    level varchar not null,
    song_id varchar distkey,
    song_title varchar(1000) not null,
    artist_id varchar,
    artist_name varchar(1000) not null,
    session_id int  not null,
    location varchar(1000) not null,
    user_agent varchar  not null,
    stream_duration decimal 
) diststyle KEY;

drop table if exists songs;
create table if not exists songs
(
    song_id varchar not null primary key distkey,
    title varchar(1000) not null sortkey,
    artist_id varchar not null,
    year int not null,
    duration decimal not null
) diststyle KEY;

drop table if exists artist_names;
create table if not exists artist_names
(
    name varchar(1000) not null primary key sortkey,
    artist_id varchar not null,        
    latitude decimal null,
    longitude decimal null,
    location varchar(1000) null
) diststyle ALL;

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [38]:
%%sql

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

## Loading Events / Log from S3

In [11]:
%sql select count(1) from staging_events

 * postgresql://dwhuser:***@dwhcluster.cxxnfuxeuzhw.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [19]:
%%sql

copy staging_events 
from 's3://udacity-dend/log-data' 
iam_role 'arn:aws:iam::147551276302:role/dwhRole'
region 'us-west-2'
json 's3://udacity-dend/log_json_path.json';

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [48]:
%%sql 
select *
from staging_events 
where page = 'NextSong'
limit 5

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Amy Winehouse', 'Logged In', 'Ayla', 'F', '0', 'Johnson', '231.52280999999999', 'free', 'Santa Rosa, CA', 'PUT', 'NextSong', '1540880381796', '223', 'Stronger Than Me', '200', '1541550480796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', '63'),
 ('Cage The Elephant', 'Logged In', 'Kate', 'F', '101', 'Harrell', '175.12443999999999', 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', '293', "Ain't No Rest For The Wicked (Original Version)", '200', '1541551774796', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', '97'),
 ('Yeah Yeah Yeahs', 'Logged In', 'Kaylee', 'F', '3', 'Summers', '220.96933999999999', 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', '181', 'Heads Will Roll', '200', '1541554963796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', '8'),
 ('Juan Carlos Baglietto', 'Logged In', 'Wyatt', 'M', '4', 'Scott', '285.64852999999999', 'free', 'Eureka-Arcata-Fortuna, CA', 'PUT', 'NextSong', '1540872073796', '8', 'Era En Abril', '200', '1541560364796', 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko', '9'),
 ('Jagged Edge featuring Run of Run DMC', 'Logged In', 'Adler', 'M', '1', 'Barrera', '248.37179', 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540835983796', '301', "Let's Get Married", '200', '1541577508796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '100')]

## Loading Songs from S3

In [49]:
%sql select count(1) from staging_songs

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [ ]:
%sql select * from stl_load_errors

In [20]:
%%sql

copy staging_songs 
from 's3://udacity-dend/song-data' 
iam_role 'arn:aws:iam::147551276302:role/dwhRole'
region 'us-west-2'
json 'auto ignorecase';

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [17]:
%%sql 
select COUNT(1)
from staging_songs
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(604,)]

## Understanding how to convert ts into postgresql timestamp

In [108]:
%%sql

select
a.ts,
(a.ts/1000) as seconds_as_float,
TIMESTAMP 'epoch' as epoch_time_0,
(a.ts/1000) * interval '1 second' as time_interval_from_epoch,
TIMESTAMP 'epoch' + (a.ts/1000) * INTERVAL '1 Second ' AS start_time,
a.*
from staging_sparklify.staging_events a
limit 2

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('1541300540796', Decimal('1541300540.79600'), datetime.datetime(1970, 1, 1, 0, 0), datetime.timedelta(days=17839, seconds=10940, microseconds=796000), datetime.datetime(2018, 11, 4, 3, 2, 20, 796000), 'Olivia Ruiz', 'Logged In', 'Jahiem', 'M', '3', 'Miles', '254.74566999999999', 'free', 'San Antonio-New Braunfels, TX', 'PUT', 'NextSong', '1540817347796', '42', 'Cabaret Blanco', '200', '1541300540796', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '43'),
 ('1541310741796', Decimal('1541310741.79600'), datetime.datetime(1970, 1, 1, 0, 0), datetime.timedelta(days=17839, seconds=21141, microseconds=796000), datetime.datetime(2018, 11, 4, 5, 52, 21, 796000), None, 'Logged In', 'Jayden', 'M', '5', 'Graves', None, 'paid', 'Marinette, WI-MI', 'GET', 'Home', '1540664184796', '128', None, '200', '1541310741796', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '25')]

## Sql queries to transform the events and songs into dimension tables

## Load Songs

In [ ]:
%%sql

SELECT xxxx,x,x,,,xx,
           ROW_NUMBER() OVER(PARTITION BY userid ORDER BY ts DESC) AS rank
    FROM staging_songs
            WHERE zzz != NULL

In [13]:
%%sql

select 
    title,
    artist_id,
    count(1)
from staging_songs
group by title,
    artist_id
having count(1)> 1

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [11]:
%%sql

select 
song_id,
title,
artist_id,
year::int,
duration
from staging_songs
limit 10

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', 'AR1C2IX1187B99BF74', 0, '177.99790999999999'),
 ('SOTAZDY12AB0187616', 'Drillbit', 'ARZKCQM1257509D107', 0, '374.62159000000003'),
 ('SOIGHOD12A8C13B5A1', 'Indian Angel', 'ARY589G1187B9A9F4E', 2004, '171.57178999999999'),
 ('SOFRDWL12A58A7CEF7', 'Hit Da Scene', 'AR9Q9YC1187FB5609B', 0, '252.94322'),
 ('SORRNOC12AB017F52B', 'The Last Beat Of My Heart (b-side)', 'ARSZ7L31187FB4E610', 2004, '337.81506000000002'),
 ('SONQPZK12AB0182D84', 'Double Wide', 'ARKYKXP11F50C47A6A', 0, '160.20853'),
 ('SOIGICF12A8C141BC5', 'Game & Watch', 'AREWD471187FB49873', 2004, '580.54485'),
 ('SOBRKGM12A8C139EF6', 'Welcome to the Pleasuredome', 'ARXQBR11187B98A2CC', 1985, '821.05424000000005'),
 ('SOHOZBI12A8C132E3C', 'Smash It Up', 'AR0MWD61187B9B2B12', 2000, '195.39546000000001'),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, '148.03546')]

In [35]:
%%sql
insert into songs
(song_id,title,artist_id,year,duration)
select 
song_id,
title,
artist_id,
year::int,
duration
from staging_sparklify.staging_songs
limit 10

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[]

## Load Artists

Addressed in artist_cleaning Notebook

![image](https://user-images.githubusercontent.com/11904085/168094814-9ec453db-19ea-4e4b-b888-a51aa7402167.png)

## Load songplays

In [27]:
%%sql

select 
'songplay_id' as songplay_id,
TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
e.userid as user_id,
e.level,
s.song_id,
e.song as song_title,
s.artist_id,
e.artist as artist_name,
e.sessionid as session_id,
e.location,
e.userAgent as user_agent,
e.length as stream_dureation
from staging_sparklify.staging_events e
left join staging_sparklify.staging_songs s on e.song = s.title and e.artist = s.artist_name
where page = 'NextSong'
and s.artist_id is null
limit 5

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.InvalidSchemaName) schema "staging_sparklify" does not exist

[SQL: select
'songplay_id' as songplay_id,
TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
e.userid as user_id,
e.level,
s.song_id,
e.song as song_title,
s.artist_id,
e.artist as artist_name,
e.sessionid as session_id,
e.location,
e.userAgent as user_agent,
e.length as stream_dureation
from staging_sparklify.staging_events e
left join staging_sparklify.staging_songs s on e.song = s.title and e.artist = s.artist_name
where page = 'NextSong'
and s.artist_id is null
limit 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql

insert into songplays
(start_time, user_id, level, song_id, song_title, 
artist_id, artist_name, session_id, location, user_agent, stream_duration)
select 
TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
e.userid::int as user_id,
e.level,
s.song_id,
e.song as song_title,
s.artist_id,
e.artist as artist_name,
e.sessionid::int as session_id,
e.location,
e.userAgent as user_agent,
e.length::decimal as stream_dureation
from staging_sparklify.staging_events e
left join staging_sparklify.staging_songs s on e.song = s.title and e.artist = s.artist_name
where page = 'NextSong'
and s.artist_id is null
limit 5

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "songplays" does not exist

[SQL: insert into songplays
(start_time, user_id, level, song_id, song_title,
artist_id, artist_name, session_id, location, user_agent, stream_duration)
select
TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
e.userid::int as user_id,
e.level,
s.song_id,
e.song as song_title,
s.artist_id,
e.artist as artist_name,
e.sessionid::int as session_id,
e.location,
e.userAgent as user_agent,
e.length::decimal as stream_dureation
from staging_sparklify.staging_events e
left join staging_sparklify.staging_songs s on e.song = s.title and e.artist = s.artist_name
where page = 'NextSong'
and s.artist_id is null
limit 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Load Time Dimension

In [29]:
# TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,

In [30]:
%%sql
with time_relevant_records as (
    select TIMESTAMP 'epoch' + (ts/1000) * INTERVAL '1 Second ' as start_time,    
    extract(hour from start_time) as hour,
    extract(day from start_time) as day,
    extract(week from start_time) as week,
    extract(month from start_time) as month,
    extract(year from start_time) as year,
    TO_TIMESTAMP(year || '-' || month || '-' || day || ' ' || hour || ':00:00', 'YYYY-MM-DD HH24:MI:SS') as timestamp_date
    from staging_events 
    where page = 'NextSong'
)
select distinct
    year * 1000000
    + month * 10000
    + day * 100
    + hour 
    as time_key,
    timestamp_date,
    extract(year from start_time) as year,
    extract(month from start_time) as month,
    extract(day from start_time) as day,
    extract(hour from start_time) as hour,    
    extract(week from start_time) as week,    
    extract(dayofweek from start_time) as day_of_week,
    to_char(start_time, 'Day') as day_of_week_name,
    day_of_week in (0,6) as is_weekend
from time_relevant_records
limit 14

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
14 rows affected.

[(2018110607, datetime.datetime(2018, 11, 6, 7, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 6, 7, 45, 2, 'Tuesday  ', False),
 (2018110706, datetime.datetime(2018, 11, 7, 6, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 7, 6, 45, 3, 'Wednesday', False),
 (2018110410, datetime.datetime(2018, 11, 4, 10, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 4, 10, 44, 0, 'Sunday   ', True),
 (2018110416, datetime.datetime(2018, 11, 4, 16, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 4, 16, 44, 0, 'Sunday   ', True),
 (2018110916, datetime.datetime(2018, 11, 9, 16, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 9, 16, 45, 5, 'Friday   ', False),
 (2018110808, datetime.datetime(2018, 11, 8, 8, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 8, 8, 45, 4, 'Thursday ', False),
 (2018110809, datetime.datetime(2018, 11, 8, 9, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 8, 9, 45, 4, 'Thursday ', False),
 (2018111513, datetime.datetime(2018, 11, 15, 13, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 15, 13, 46, 4, 'Thursday ', False),
 (2018110203, datetime.datetime(2018, 11, 2, 3, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 2, 3, 44, 5, 'Friday   ', False),
 (2018110212, datetime.datetime(2018, 11, 2, 12, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 2, 12, 44, 5, 'Friday   ', False),
 (2018111404, datetime.datetime(2018, 11, 14, 4, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 14, 4, 46, 3, 'Wednesday', False),
 (2018111410, datetime.datetime(2018, 11, 14, 10, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 14, 10, 46, 3, 'Wednesday', False),
 (2018110518, datetime.datetime(2018, 11, 5, 18, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 5, 18, 45, 1, 'Monday   ', False),
 (2018111305, datetime.datetime(2018, 11, 13, 5, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2018, 11, 13, 5, 46, 2, 'Tuesday  ', False)]

In [31]:
%%sql
with time_relevant_records as 

select distinct
extract(hour from start_time) as hour,
extract(day from start_time) as day,
extract(week from start_time) as week,
extract(month from start_time) as month,
extract(year from start_time) as year,
+ year * 1000000
+ month * 10000
+ day * 100
+ hour 
as time_key,
extract(dayofweek from start_time) as day_of_week,
to_char(start_time, 'Day') as day_of_week_name,
day_of_week in (0,6) as is_weekend
from staging_events e
where page = 'NextSong'
order by song
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.SyntaxError) syntax error at or near "select"
LINE 3: select distinct
        ^

[SQL: with time_relevant_records as

select distinct
extract(hour from start_time) as hour,
extract(day from start_time) as day,
extract(week from start_time) as week,
extract(month from start_time) as month,
extract(year from start_time) as year,
+ year * 1000000
+ month * 10000
+ day * 100
+ hour
as time_key,
extract(dayofweek from start_time) as day_of_week,
to_char(start_time, 'Day') as day_of_week_name,
day_of_week in (0,6) as is_weekend
from staging_events e
where page = 'NextSong'
order by song
limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [32]:
%%sql 

insert into time 
(start_time, hour, day, week, month, year, day_of_week, day_of_week_name, is_weekend)
select distinct
    TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
    extract(hour from start_time) as hour,
    extract(day from start_time) as day,
    extract(week from start_time) as week,
    extract(month from start_time) as month,
    extract(year from start_time) as year,
    extract(dayofweek from start_time) as day_of_week,
    to_char(start_time, 'Day') as day_of_week_name,
    day_of_week in (0,6) as is_weekend
from staging_events e
where page = 'NextSong'
order by start_time

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "time" does not exist

[SQL: insert into time
(start_time, hour, day, week, month, year, day_of_week, day_of_week_name, is_weekend)
select distinct
    TIMESTAMP 'epoch' + (e.ts/1000) * INTERVAL '1 Second ' as start_time,
    extract(hour from start_time) as hour,
    extract(day from start_time) as day,
    extract(week from start_time) as week,
    extract(month from start_time) as month,
    extract(year from start_time) as year,
    extract(dayofweek from start_time) as day_of_week,
    to_char(start_time, 'Day') as day_of_week_name,
    day_of_week in (0,6) as is_weekend
from staging_events e
where page = 'NextSong'
order by start_time]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [33]:
%%sql

select * 
from time
limit 14

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "time" does not exist

[SQL: select *
from time
limit 14]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Load User Dimension

In [34]:
%%sql 
select distinct
userid as user_id,
firstname as first_name,
lastname as last_name,
gender,
level
from staging_sparklify.staging_events e
where page = 'NextSong'
order by song
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.InvalidSchemaName) schema "staging_sparklify" does not exist

[SQL: select distinct
userid as user_id,
firstname as first_name,
lastname as last_name,
gender,
level
from staging_sparklify.staging_events e
where page = 'NextSong'
order by song
limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [35]:
%%sql 

insert into users
(user_id, first_name, last_name, gender, level)
select distinct
userid::int as user_id,
firstname as first_name,
lastname as last_name,
gender,
level
from staging_sparklify.staging_events e
where page = 'NextSong'
order by song
limit 10

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "users" does not exist

[SQL: insert into users
(user_id, first_name, last_name, gender, level)
select distinct
userid::int as user_id,
firstname as first_name,
lastname as last_name,
gender,
level
from staging_sparklify.staging_events e
where page = 'NextSong'
order by song
limit 10]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Issues
It looks like the files being read from 's3://udacity-dend/log-data' have a different encoding and I have records that do not match artst / song

In [36]:
%%sql

select *
from staging_sparklify.staging_songs
where title in ('Get Me Bodied',  'Los Salieris De Charly')
or artist_name = 'Mpiri'
limit 20

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.InvalidSchemaName) schema "staging_sparklify" does not exist

[SQL: select *
from staging_sparklify.staging_songs
where title in ('Get Me Bodied',  'Los Salieris De Charly')
or artist_name = 'Mpiri'
limit 20]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Tests

In [37]:
%%sql 
select * from songs
limit 10;

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "songs" does not exist

[SQL: select * from songs
limit 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)