# Tests & Queries

## Init

In [2]:
import configparser
import pandas as pd
%load_ext sql

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
HOST              = config.get('CLUSTER','HOST')
DB_NAME           = config.get('CLUSTER','DB_NAME')
DB_USER           = config.get('CLUSTER','DB_USER')
DB_PASSWORD       = config.get('CLUSTER','DB_PASSWORD')
DB_PORT           = config.get('CLUSTER','DB_PORT')

DB_NAME           = config.get('DATABASE','DB_NAME')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Connect to Redshift cluster

In [ ]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

## TOP 5 Users with more stream events

In [7]:
%%sql 
    select u.first_name || ' ' || u.last_name as full_name, count(sp.start_time) as stream_count
    from songplays sp
    left join users u on sp.user_id = u.user_id
    group by u.first_name || ' ' || u.last_name
    order by 2 desc
    limit 5;

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Chloe Cuevas', 1378),
 ('Tegan Levine', 1330),
 ('Lily Koch', 926),
 ('Jacqueline Lynch', 692),
 ('Kate Harrell', 557)]

## Busiests hours at the platform

In [8]:
%%sql 
select t.hour, count(sp.start_time) as stream_count
from songplays sp
left join time t on sp.start_time = t.start_time
group by t.hour
order by 2 desc
limit 5

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16, 542), (18, 498), (17, 494), (15, 477), (14, 432)]

## Top 5 busiest states

In [9]:
%%sql
select
SPLIT_PART(sp.location, ',', 2) as state,
count(sp.start_time) as stream_count,
sum(sp.stream_duration) as stream_duration
from songplays sp
group by
SPLIT_PART(sp.location, ',', 2)
order by 2 desc, 3 desc
limit 5

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(' CA', 1572, Decimal('388865')),
 (' ME', 665, Decimal('165235')),
 (' MI', 636, Decimal('155840')),
 (' IL-IN-WI', 475, Decimal('121210')),
 (' GA', 456, Decimal('110499'))]

## Most played artist by state

In [10]:
%%sql 
with cte_artists_by_state as
    (
        select
            SPLIT_PART(sp.location, ',', 2) as state,
            sp.artist_name,
            row_number()
                over (partition by SPLIT_PART(sp.location, ',', 2)
                    order by
                        count(sp.start_time) desc,
                        sum(sp.stream_duration) desc
                    ) as rank,
        count(sp.start_time) as stream_count,
        sum(sp.stream_duration) as stream_duration
        from songplays sp
        group by SPLIT_PART(sp.location, ',', 2),
        sp.artist_name
    )
select
state, artist_name, stream_count, stream_duration
from cte_artists_by_state
where rank = 1
order by stream_count desc

 * postgresql://dwhuser:***@dwhcluster.cuvu38ujek21.us-west-2.redshift.amazonaws.com:5439/dwh
36 rows affected.

[(' CA', 'Muse', 13, Decimal('3208')),
 (' MI', 'Coldplay', 10, Decimal('2733')),
 (' GA', 'Kings Of Leon', 9, Decimal('2004')),
 (' ME', 'Taylor Swift', 7, Decimal('1613')),
 (' AZ', 'BjÃ\x83Â¶rk', 5, Decimal('1652')),
 (' IL-IN-WI', 'Alliance Ethnik', 5, Decimal('1229')),
 (' NC', 'Florence + The Machine', 5, Decimal('1122')),
 (' WI-MI', 'The Black Keys', 5, Decimal('1130')),
 (' IA', 'Kings Of Leon', 4, Decimal('788')),
 (' AL', 'Radiohead', 4, Decimal('1111')),
 (' FL', 'Train', 4, Decimal('842')),
 (' GA-SC', 'Coldplay', 4, Decimal('1137')),
 (' NY-NJ-PA', 'Kings Of Leon', 3, Decimal('639')),
 (' TN', 'Coldplay', 3, Decimal('846')),
 (' TX', 'Usher featuring will.i.am', 3, Decimal('1185')),
 (' WI', 'BjÃ\x83Â¶rk', 3, Decimal('1044')),
 (' PA-NJ-DE-MD', 'Slipknot', 2, Decimal('532')),
 (' CT', 'Dwight Yoakam', 2, Decimal('478')),
 (' IN', 'Shakira', 2, Decimal('341')),
 (' WI-MN', 'Linkin Park', 1, Decimal('494')),
 (' LA', 'Chick Corea & Hiromi', 1, Decimal('465')),
 (' NM', 'Metallica', 1, Decimal('415')),
 (' OH-PA', 'Swirlies', 1, Decimal('391')),
 (' OR', 'Shakira', 1, Decimal('571')),
 (' MO-IL', 'Charisma', 1, Decimal('707')),
 (' DC-VA-MD-WV', 'Metallica', 1, Decimal('515')),
 (' UT', 'Astral Projection', 1, Decimal('585')),
 (' KY', 'Coldplay', 1, Decimal('311')),
 (' WV', 'Phil Collins', 1, Decimal('291')),
 (' SC-NC', 'My Chemical Romance', 1, Decimal('311')),
 (' OR-WA', 'Vampire Weekend', 1, Decimal('269')),
 (' VA', 'Mogwai', 1, Decimal('341')),
 (' MN-WI', 'The Verve', 1, Decimal('360')),
 (' PA', 'Devin Townsend', 1, Decimal('576')),
 (' SC', 'Matmos', 1, Decimal('1449')),
 (' WA', 'Fischer-Z', 1, Decimal('302'))]