# Tests & Queries

## Init

In [2]:
import configparser
import pandas as pd
%load_ext sql

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
HOST              = config.get('CLUSTER','HOST')
DB_NAME           = config.get('CLUSTER','DB_NAME')
DB_USER           = config.get('CLUSTER','DB_USER')
DB_PASSWORD       = config.get('CLUSTER','DB_PASSWORD')
DB_PORT           = config.get('CLUSTER','DB_PORT')

DB_NAME           = config.get('CLUSTER','DB_NAME')

## Connect to Redshift cluster

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

## Testing Artists Deduplication and Best Value picking

In [33]:
%%sql 

select distinct
        artist_id,
        artist_name as name,    
        artist_latitude as latitude,
        artist_longitude as longitude,
        artist_location as location
        from staging_songs
 where name in
    (
    'Bill & Gloria Gaither')
    order by name

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('ARK6JC91187B9B4B2D', 'Bill & Gloria Gaither', None, None, 'United States'),
 ('ARQOTHF12454A52B60', 'Bill & Gloria Gaither', None, None, ''),
 ('ARDW74M1187B98DA34', 'Bill & Gloria Gaither', None, None, ''),
 ('ARKC83D1187B9AB367', 'Bill & Gloria Gaither', None, None, ''),
 ('ARMM25Z1187FB5A8C1', 'Bill & Gloria Gaither', '29.424489999999999', '-98.494619999999998', 'San Antonio, TX'),
 ('ARBB58Y1187B9B621B', 'Bill & Gloria Gaither', None, None, ''),
 ('ARDFZE61187FB45994', 'Bill & Gloria Gaither', '35.830730000000003', '-85.978740000000002', 'Tennessee')]

In [36]:
%%sql 
select * from artist_names
where name in('Bill & Gloria Gaither')

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('Bill & Gloria Gaither', 'ARQOTHF12454A52B60', Decimal('35.83073000'), Decimal('-85.97874000'), 'Tennessee')]

## TOP 5 Users with more stream events

In [37]:
%%sql 
    select u.first_name || ' ' || u.last_name as full_name, count(sp.start_time) as stream_count
    from songplays sp
    left join users u on sp.user_id = u.user_id
    group by u.first_name || ' ' || u.last_name
    order by 2 desc
    limit 5;

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Chloe Cuevas', 689),
 ('Tegan Levine', 665),
 ('Kate Harrell', 557),
 ('Lily Koch', 463),
 ('Aleena Kirby', 397)]

## Busiests hours at the platform

In [38]:
%%sql 
select t.hour, count(sp.start_time) as stream_count
from songplays sp
left join time t on sp.start_time_key = t.time_key
group by t.hour
order by 2 desc
limit 5

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16, 542), (18, 498), (17, 494), (15, 477), (14, 432)]

## Top 5 busiest states

In [39]:
%%sql
select
SPLIT_PART(sp.location, ',', 2) as state,
count(sp.start_time) as stream_count,
sum(sp.stream_duration) as stream_duration
from songplays sp
group by
SPLIT_PART(sp.location, ',', 2)
order by 2 desc, 3 desc
limit 5

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(' CA', 1572, Decimal('389678.3915')),
 (' ME', 665, Decimal('165578.0111')),
 (' MI', 636, Decimal('156168.1464')),
 (' IL-IN-WI', 475, Decimal('121454.0250')),
 (' GA', 456, Decimal('110724.7873'))]

## Most played artist by state

In [40]:
%%sql 
with cte_artists_by_state as
    (
        select
            SPLIT_PART(sp.location, ',', 2) as state,
            sp.artist_name,
            row_number()
                over (partition by SPLIT_PART(sp.location, ',', 2)
                    order by
                        count(sp.start_time) desc,
                        sum(sp.stream_duration) desc
                    ) as rank,
        count(sp.start_time) as stream_count,
        sum(sp.stream_duration) as stream_duration
        from songplays sp
        group by SPLIT_PART(sp.location, ',', 2),
        sp.artist_name
    )
select
state, artist_name, stream_count, stream_duration
from cte_artists_by_state
where rank = 1
order by stream_count desc

 * postgresql://dwhuser:***@dwhcluster.cmfoxim90hks.us-west-2.redshift.amazonaws.com:5439/dwh
36 rows affected.

[(' CA', 'Muse', 13, Decimal('3215.8497')),
 (' MI', 'Coldplay', 10, Decimal('2737.3141')),
 (' GA', 'Kings Of Leon', 9, Decimal('2009.2557')),
 (' ME', 'Taylor Swift', 7, Decimal('1615.5134')),
 (' AZ', 'BjÃ\x83Â¶rk', 5, Decimal('1654.5675')),
 (' IL-IN-WI', 'Alliance Ethnik', 5, Decimal('1231.9060')),
 (' NC', 'Florence + The Machine', 5, Decimal('1125.0914')),
 (' WI-MI', 'The Black Keys', 5, Decimal('1132.8498')),
 (' IA', 'Kings Of Leon', 4, Decimal('790.6722')),
 (' AL', 'Radiohead', 4, Decimal('1113.7808')),
 (' FL', 'Train', 4, Decimal('844.4324')),
 (' GA-SC', 'Coldplay', 4, Decimal('1138.3881')),
 (' NY-NJ-PA', 'Kings Of Leon', 3, Decimal('641.1217')),
 (' TN', 'Coldplay', 3, Decimal('846.8882')),
 (' TX', 'Usher featuring will.i.am', 3, Decimal('1187.1855')),
 (' WI', 'BjÃ\x83Â¶rk', 3, Decimal('1045.7325')),
 (' PA-NJ-DE-MD', 'Slipknot', 2, Decimal('532.7141')),
 (' CT', 'Dwight Yoakam', 2, Decimal('478.6146')),
 (' IN', 'Shakira', 2, Decimal('342.0203')),
 (' WI-MN', 'Linkin Park', 1, Decimal('494.9938')),
 (' LA', 'Chick Corea & Hiromi', 1, Decimal('465.0575')),
 (' NM', 'Metallica', 1, Decimal('415.1636')),
 (' OH-PA', 'Swirlies', 1, Decimal('391.2354')),
 (' OR', 'Shakira', 1, Decimal('571.1668')),
 (' MO-IL', 'Charisma', 1, Decimal('707.6305')),
 (' DC-VA-MD-WV', 'Metallica', 1, Decimal('515.2126')),
 (' UT', 'Astral Projection', 1, Decimal('585.4297')),
 (' KY', 'Coldplay', 1, Decimal('311.2746')),
 (' WV', 'Phil Collins', 1, Decimal('291.0036')),
 (' SC-NC', 'My Chemical Romance', 1, Decimal('311.1179')),
 (' OR-WA', 'Vampire Weekend', 1, Decimal('269.1652')),
 (' VA', 'Mogwai', 1, Decimal('341.2893')),
 (' MN-WI', 'The Verve', 1, Decimal('360.2542')),
 (' PA', 'Devin Townsend', 1, Decimal('576.3391')),
 (' SC', 'Matmos', 1, Decimal('1449.1162')),
 (' WA', 'Fischer-Z', 1, Decimal('302.7848'))]